// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: Null Free; src:url("../fonts/Null_Free.otf")
}
// Global Variables
$black: #3d3d3d;
$white: #ededed;
$light-blue: #6fbfe8;
$accent-orange: #d6751b;