
#contactHeader{
    background: #a92831;
    padding:20px 0px;
    
    h1{
        font-size: 80px;
        text-decoration: underline;
        color:$blue;
        font-family:Null free;
        font-weight: 400;
    }
}

#form{
    
    input{
        margin-top: 5px;
        background-color: #a92831;
        border: 2px solid #190a3d; 
        
    }
    textarea{
        background-color: #a92831;
        border: 2px solid #190a3d; 
    }
    #send{
        background-color: $blue;
        color: $pink;
        border: none; 
        text-align: left;
        
    }
}


