
#contactHeader{
    background:$pink;
    padding:20px 0px;
    
    h1{
        font-size: 80px;
        text-decoration: underline;
        color:$blue;
        font-family:Null free;
        font-weight: 400;
    }
}

#form{

    // .noCorrect::placeholder{
    //  color:#190a3d;
    //  background: lightgray;
    // }
    .noCorrect{
    background: gray;
    }
    input{
        margin-top: 5px;
        background-color: $pink;
        border: 2px solid #190a3d;           
        
    }
    input::placeholder{
       color: white;
    }
    textarea{
        margin-top: 5px;
        background-color: $pink;
        border: 2px solid #190a3d; 
    }
    textarea::placeholder{
       color: white;
       
    }
    #send{
        background-color: $blue;
        color: $pink;
        border: none; 
        text-align: center;
        
    }
    
}


