#nextEvent{
    background-image: url("../img/fcount.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    
    h1{
        color:$blue;
        font-size: 65px;
        margin:20% 0;
        padding:0px 20px;
    }
    
    .counter{
        width:100%;
        .box{
            // width: 150px;
            margin: 0px 15px;
            padding:10px 0px;
            background-color:$blue;
            
            h2{
                color:$white;
                font-size:60px;
            }
            h3{
                color:$pink;
                font-size:40px;
            }
        }
    }
    
    p{
        font-size:30px;
        font-style: italic;
        color:$white;
        text-align: center;
        width:70%;
        margin:5% 0 10%;
        font-weight: bold;
    }
    
    
}