#nextEvent{
    background-image: url("../img/fcount.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%; 
#heading{
h1{
//  margin-top: 18vh;
font-size: 8vh;
color:$blue;
}
}
#countdowns{ 
        padding-top: 80px;
#around{
     width: 60vw;
.countdown{
         height: 22vh;
         width: 13vw;
         background: #190a3d;
}
}
}
#about{
// width: 100px;
p{
margin-top: 8vh;
font-size: 3vh;
width: 60vw;
text-align: center;
font-style: italic;
color: white;
} 
}
}