#events{
    max-height: 100%;
    background: $blue;
    
    h1{
        text-decoration: underline;
        color:$pink;
        font-size: 60px;
        font-family: Null Free;
        padding-top:80px;
        font-weight: 100;
    }
    #container{
        .vertikala{
            height: 8vh;
        }
        .eventovi{
            p{
                font-size: 4vh;
                color: white; 
            }
            img{
                height: 4vh;
                width: 4vw;
            }
            #ikonice{
                a{
                    img{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
        #buy{
            opacity: 0.3;
        }
        button{
            //    background: #cb3040;
            background: #190a3d;
            opacity:1;
            // opacity: 1;
            color: white;
            border: 1px solid #a92831;
            border-bottom: 2px solid #a92831;
            border-radius: 20px;
            height: 40px;
        }
    }
}