.container{
     width: 100%;
     height: 100px;
     padding-top: 50px;
  .links{
      a{
        img{
         height: 30px;
         width: 30px;
        }
      }
  }
}
#copyright{
  h1, p{
    color: #190a3d;
    text-align: center;
  }
}
