#hero{
    background-image:url("../img/fhome2.png");
    background-repeat: no-repeat;
    background-size: cover;
   height:100vh;
    padding:0px;
    transition:1s ease;
    
    #nav{

        padding:20px;
        .logo{
            font-family: Null Free;
            font-size:80px;
            color:$pink;
            text-decoration: none;
            font-style: italic;
        }
        ul{
            li{
                display:inline;
                a{
                    color:$pink;
                    // display: block;
                    font-size: 20px;
                    text-decoration: none;
                    padding:0px 30px;
                    &:hover{
                        color:$white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #music{
        position: absolute !important; 
        width:100% !important;
        bottom:0;
        background-color:$pink;


       .powr-music-player{
           max-height:100px !important;
           iframe{
               max-height:100px !important;
           }
       }
 }
}


.scrolled{
    position: sticky;
    background-color:$blue;
    opacity: 0.8;
    top:0;
    right:0;
    width:100%;
    padding:0px;
    margin:0px;
    z-index:999;
}